
DJANGO_SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
MONGODB_URI=mongodb://localhost:27017/homechef
MONGODB_DB=homechef
JWT_SECRET=
AI_SERVICE_URL=http://localhost:8001
AI_SERVICE_TOKEN=
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:4173,https://homechef-2-0-frontend.vercel.app
PAYMENT_GATEWAY_URL=
PAYMENT_GATEWAY_KEY=
MAPS_API_KEY=

# Supabase Database / PostgreSQL
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=TU_PASSWORD_DE_LA_BASE_DE_DATOS
DB_HOST=db.pimmweiqnensrevyzvqn.supabase.co
DB_PORT=5432

# Supabase API / Storage
SUPABASE_URL=https://pimmweiqnensrevyzvqn.supabase.co
SUPABASE_ANON_KEY=TU_ANON_KEY_DE_SUPABASE
SUPABASE_KEY=TU_ANON_KEY_DE_SUPABASE
SUPABASE_BUCKET=nombre_de_tu_bucket

#Stripe
STRIPE_MODE=sandbox
STRIPE_SECRET_KEY=sk_test_TU_CLAVE_SECRETA
STRIPE_PUBLISHABLE_KEY=pk_test_TU_CLAVE_PUBLICABLE

STRIPE_SUCCESS_URL=https://homechef-2-0-frontend.vercel.app/chef/ai-subscription?payment=stripe_success
STRIPE_CANCEL_URL=https://homechef-2-0-frontend.vercel.app/chef/ai-subscription?payment=stripe_cancel

#Coingate
COINGATE_MODE=sandbox
COINGATE_API_BASE_URL=https://api-sandbox.coingate.com/api/v2
COINGATE_API_TOKEN=TU_TOKEN_SANDBOX
COINGATE_RECEIVE_CURRENCY=USD

COINGATE_CALLBACK_URL=https://homechef-2-0-backend.onrender.com/api/ia/subscription/payments/coingate/callback/
COINGATE_SUCCESS_URL=https://homechef-2-0-frontend.vercel.app/chef/ai-subscription?payment=coingate_success
COINGATE_CANCEL_URL=https://homechef-2-0-frontend.vercel.app/chef/ai-subscription?payment=coingate_cancel
